<div id="about" style="text-align:center;">
	<a href="/" style="text-decoration:none;">
		<h1 class="animated fadeInDown">Javier Querol</h1>
	</a>
	<span>Writing enterprise iOS apps from Valencia</span>
    <div style="padding:10px;">
        <ul class="list-inline">
            <li>
                <a href="mailto:querol.javi@gmail.com" class="btn-social">
					<i class="fa fa-fw fa-envelope"></i></a>
            </li>
            <li>
                <a href="http://twitter.com/javierquerol" target="_blank" class="btn-social">
					<i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/profile/view?id=181255372" target="_blank" class="btn-social">
					<i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
                <a href="http://github.com/javierquerol" target="_blank" class="btn-social">
					<i class="fa fa-fw fa-github"></i></a>
            </li>
			<li>
				<a href="{{ "/cv.pdf" | prepend: site.baseurl }}" target="_blank" class="btn-social">
					<i class="fa fa-fw fa-file-text"></i></a>
			</li>
			<li>
				<a href="{{ "/portfolio" | prepend: site.baseurl }}" class="btn-social">
					<i class="fa fa-fw fa-folder-open"></i></a>
			</li>
			<li>
				<a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn-social">
					<i class="fa fa-fw fa-rss-square"></i></a>
			</li>
        </ul>
    </div>
</div>
<hr>
