    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
					<br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ "/img/portfolio/remoWeb.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ "/img/portfolio/subsWeb.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ "/img/portfolio/onetwotixWeb.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ "/img/portfolio/postautoWeb.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ "/img/portfolio/publibikeWeb.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ "/img/portfolio/sapWeb.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
		<br />
		<br />
		<div class="text-center">
			<h2>And many <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal" style="color:gray;">more</a></h2>
		</div>
    </section>
	
	<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>Remo</h2>
                        <hr class="star-primary">
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/remo/icon.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/remo/screen.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/remo/code.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
                        <p>iOS and MacOSX app that connects your iOS device to your Mac and sees your video files, so you can use your iOS device as a remote controller for playing video files and watch it with subtitles without moving from the couch. It also supports Beamer and has iMDB information. Uses caching to minimize networking and pushes the UI to the limit</p>
                        <ul class="list-inline item-details">
							<li>App Store:
								<strong><a href="https://itunes.apple.com/app/remo/id797464270?mt=8">Link</a>
								</strong>
							</li>
                            <li>Web:
                                <strong><a href="http://remo.re">remo.re</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">Feb 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="#">iOS &amp; OSX</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>Subs</h2>
                        <hr class="star-primary">
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/subs/icon.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/subs/screen.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/subs/code.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
                        <p>MacOSX app that downloads the subtitles for your videos automatically. The only thing you have to do is drag and drop your video file onto the menubar icon and the video will be played on your default video player with subtitles in your own language.</p>
                        <ul class="list-inline item-details">
							<li>Open Source:
								<strong><a href="https://github.com/JavierQuerol/Subs">GitHub</a>
								</strong>
							</li>
                            <li>Web:
                                <strong><a href="http://javierquerol.es/subs">javierquerol.es/subs</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">October 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="#">OSX</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>One Two Tix</h2>
                        <hr class="star-primary">
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/onetwotix/icon.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/onetwotix/screen.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/onetwotix/code.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
                        <p>A small enterprise app to manage sold tickets for concerts and events. The app scans QR codes to validate the entry and uploads the data to a server periodically. The app was designed to be used in more than one device so manages diffs and merge of information. Uses CoreData and background queues with a lot of custom UI animations.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://onetwotix.com" target="_blank">onetwotix @ treeNovum</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">January 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="#">iOS</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>Post Bus</h2>
                        <hr class="star-primary">
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/postauto/icon.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/postauto/screen.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/postauto/code.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
                        <p>This is the official PostBus Switzerland app that helps the user to know which is next bus or where is the closest stop. It also shows information related to tourist routes and many more. We also developed a framework in order to provide access to other teams to develop apps to be deployed inside the main app.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://postbus.ch">PostBus Ltd @ treeNovum (ssm)</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">March 2012</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="#">iOS</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>PubliBike</h2>
                        <hr class="star-primary">
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/publibike/icon.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/publibike/screen.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/publibike/code.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
                        <p>Another PostBus app that shows all the bikes and spots available around Switzerland.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://publibike.ch">PostBus Ltd @ treeNovum (ssm)</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">July 2012</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="#">iOS</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>SAP - Sales On Event</h2>
                        <hr class="star-primary">
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/sap/icon.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/sap/screen.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
							<div class="col-md-4">
								<img src="{{ "/img/portfolio/sap/code.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
							</div>
                        <p>Enterprise app for the SAP salesmen that provides an easy way to manage their accounts, clients and meetings. We developed a modular framework that allows us to nest all the controllers in order to filter the information making the navigation easy and powerful.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://sap.ch">SAP @ treeNovum (ssm)</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="#">May 2012</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="#">iOS</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>Other apps</h2>
                        <hr class="star-primary">
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/bonacasa.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Bonacasa</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/ac.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>AC Contact</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/bucketizer.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Flashbag</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/tweetv.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Tweetv</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/asthma.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Asthma Info</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/bell.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Bell</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/radiosome.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Radiosome</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/nightvip.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>NightVip</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/extranet.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>PAExtranet</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/cheese.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Cheese</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/clubs.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>ClubApp</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/runsantarun.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Run Santa Run</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/ticketmanager.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Ticket Manager</p>
							</div>
							<div class="col-md-2">
								<img src="{{ "/img/portfolio/otherapps/zimbo.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" style="margin-bottom:2px;">
								<p>Zimbo</p>
							</div>
							<div class="col-md-12">
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
